body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 750px;  
    margin: 0 auto;
    border: 3px solid blue;
    padding: 0 2em 1em;
}
h1 { 
    font-size: 150%;
    color: blue;
    margin-bottom: .5em;
}
label {
    float: left;
    width: 8em;
}
input, select { 
    width: 10em;
    margin-right: 1em;
    margin-bottom: 1em;
}
input[type=checkbox] { 
    width: 2em;
}

header {
    width: 100%;
}

button {
    cursor: pointer;
    background-color: rgb(42, 67, 253);
    color: white;
    font-weight: 700;
    border: none;
    padding: 1em;
    border-radius: 10px;
}

button:hover {
    background-color: #0573e1;
}

header {
    display: flex;
    align-items: center;
    gap: 2em;
}

header div {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

#cards img {
    height: 100px;
    width: 80px;
}

.card {
    width: 80px;
    height: 100px;
}

.clear {
    clear: both;
}

.hidden {
    display: none !important;
}